<!-- Skin Setting 15/08/2020 -->
<screen name="MainParsa" position="0,0" size="2560,1440" title="..::parsatv::.." flags="wfNoBorder">
	<widget name="title" position="540,38" size="1040,95" font="Regular;46" halign="left" valign="center" foregroundColor="#ffff00" backgroundColor="black" transparent="1" zPosition="5" />
	<widget name="info" position="294,148" size="1294,92" font="Regular;40" halign="center" valign="center" foregroundColor="yellow" backgroundColor="#202020" transparent="1" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/res/pics/3.png" position="0,0" size="2560,1440" scale="stretch" zPosition="0" alphatest="blend" />
    <ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/logo.png" position="294,35" size="226,98" scale="stretch" zPosition="5" alphatest="blend" transparent="0" />
    <ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/res/pics/PayPal.png" position="2268,466" size="208,100" scale="stretch" zPosition="5" alphatest="on" />
    <ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/res/pics/qr-code.png" position="1930,242" size="320,320" scale="stretch" zPosition="2" alphatest="on" />
	<widget name="paypal" position="1779,590" size="702,363" font="Regular;32" halign="center" foregroundColor="#ffffff" backgroundColor="#101010" transparent="1" zPosition="2" />
	<!-- Menu List -->
	<widget name="text" position="294,254" size="1294,931" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#00a0a0a0" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#0b2049" />
	<!-- Colors 1220 -->
    <eLabel position="307,1267" size="280,80" backgroundColor="#ff0033" zPosition="1" />       
    <eLabel position="1307,1267" size="280,80" backgroundColor="#009900" zPosition="1" />
    <eLabel position="815,1267" size="280,80" backgroundColor="#ffff00" zPosition="1" />
    <eLabel position="278,1216" size="1334,8" backgroundColor="#1edb76" zPosition="1" />
	<widget name="key_red" position="304,1267" size="284,84" font="Regular;40" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
	<widget name="key_green" position="1307,1264" size="280,86" font="Regular;40" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
	<widget name="key_yellow" position="814,1267" size="280,80" font="Regular;40" halign="right" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
</screen>