<!-- Skin Setting 15/08/2020 -->
<screen name="MainParsa" position="0,0" size="1920,1080" title="..::parsatv::.." flags="wfNoBorder">
	<widget name="title" position="405,28" size="780,71" font="Regular;34" halign="left" valign="center" foregroundColor="#ffff00" backgroundColor="black" transparent="1" zPosition="5" />
	<widget name="info" position="220,111" size="970,69" font="Regular;30" halign="center" valign="center" foregroundColor="yellow" backgroundColor="#202020" transparent="1" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/res/pics/3.png" position="0,0" size="1920,1080" scale="stretch" zPosition="0" alphatest="blend" />
    <ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/logo.png" position="220,26" size="169,73" scale="stretch" zPosition="5" alphatest="blend" transparent="0" />
    <ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/res/pics/PayPal.png" position="1274,534" size="156,75" scale="stretch" zPosition="5" alphatest="on" />
    <ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/parsatv/res/pics/qr-code.png" position="1483,378" size="240,240" scale="stretch" zPosition="2" alphatest="on" />
	<widget name="paypal" position="1229,638" size="526,272" font="Regular;24" halign="center" foregroundColor="#ffffff" backgroundColor="#101010" transparent="1" zPosition="2" />
	<!-- Menu List -->
	<widget name="text" position="220,190" size="970,698" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#00a0a0a0" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#2d8659" />
	<!-- Colors 1220 -->
    <eLabel position="230,950" size="210,60" backgroundColor="#ff0033" zPosition="1" />
    <eLabel position="980,950" size="210,60" backgroundColor="#009900" zPosition="1" />
    <eLabel position="611,950" size="210,60" backgroundColor="#ffff00" zPosition="1" />
    <eLabel position="208,912" size="1000,6" backgroundColor="#1edb76" zPosition="1" />
	<widget name="key_red" position="228,950" size="213,63" font="Regular;30" halign="center" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
	<widget name="key_green" position="980,948" size="210,64" font="Regular;30" halign="center" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
	<widget name="key_yellow" position="610,950" size="210,60" font="Regular;30" halign="center" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
</screen>